/*aqui decoramos toda la ventana */ 
*{
    box-sizing: border-box;
    margin: auto;
    font-family: Verdana, sans-serif;
    position: relative;
    
}
    
    

div{
    float: left;
}

h1{
    text-align: center;
}
h2{
    border:  solid #000000;
    width: 120px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    position: absolute;
    right: 0;
    margin: -1px -1px 0 0;
    z-index: 1;
}
p{
    padding: 45px 15px 15px 15px;
    background-color: #dcdcdc;
    font-size: 1em;
}
#chicken{
    background-color: #deccb7;
}
#beef{
    background-color: #5e1c1c;
    color: #ffffff;

}
#sushi{
    background-color: #ffb6c5;

}

/*PC de design*/
@media(min-width: 992px){
    .col-lg-4{
        width: 30.33%;
        margin: 1.5%;
        border:  solid #000000
        
    }
}
/*Tablet design*/

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-3 {
        width: 47%;
        margin: 1.5%;
        border:  solid #000000;
    }
    .col-md-6 {
        width: 97%;
        margin: 1.5%;
        border:  solid #000000;
    }
}
/*Movil design*/
    @media (max-width: 767px) {
    .col-sm-12 {
        width: 96%;
        margin: 2%;
        border:  solid #000000;
    }
}





